@using BLL;
<table border="1" cellpadding="15">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Salary</td>
    </tr>
    @{
        List<Employee> empList = (List<Employee>)ViewData["emps"];
        foreach (Employee e in empList)
        {
            <tr>
                <td>@e.eid</td>
                <td>@e.name</td>
                <td>@e.email</td>
                <td>@e.salary</td>
            </tr>
        }
    }
</table>

